* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Newsreader";
    src: url('../../src/assets/font/NewsreaderCaption-Regular.ttf');
}


.clear { 
    clear: both;
}


.center {
    text-align: center;
}

.flex {
    display: flex;
}


.pt30px {
    padding-top: 30px;
}



#nav .Product2 {
    border-bottom: 1px solid #000;
}



#slider img {
    width: 1349px;
}

#slider .fa-circle-arrow-left{
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 30px;
    color: #fff;
}

#slider .fa-circle-arrow-right{
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 30px;
    color: #fff;
}

#content1 {
    display: flex;
}

#content-sidebar {
    width: 300px;
    padding-left: 20px;

}

.sidebar-header {
    padding-top: 20px;
    padding-bottom: 7px;
    color: #321E1E;
}

.sidebar-tick {
    font-size: 20px;
}

.checkbox-item {
    display: block;
    color: #321E1E;
}

.content-end {
    width: 80%;
}

.content-product1 {
    margin-top: 20px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;  
}

.content-product-navi {
    width: 30%;
    height: 320px;
    margin-bottom: 35px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);  
    transform: scale(1);
    transition: all 0.5s;
    cursor: pointer;
}

.content-product-navi:hover {
    transform: scale(1.1);
}

.product-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-product-navi img {
    width: 100%;
    display: block;
    max-height: 250px;
}

.content-product-body {
    font-size: 20px;
    background-color: #fff;
}

.content-product-heading {
   
        display: block;
        display: -webkit-box;
        height: 16px*1.3*3;
        line-height: 1.3;
        -webkit-line-clamp: 1;  /* số dòng hiển thị */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top:10px;
 
    color: #321E1E;
}

.content-product-price {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #B31312;
}

.Button-end {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    
}

.Button-end button {
    padding: 7px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.Button-end button:hover {
    background-color: #DDDDDD
}



