#footer {
    background-color: #2e1c11;
}

.footer-info-head {
    padding-top: 10px;
}

.footer-info-end {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.logoFooter {
    padding-top: 20px;
    margin-bottom: -55px;
    text-align: center;
}

.footer-info img {
    max-width: 325px;
}

.footer-info {
    padding-bottom: 10px !important;
    color: #fff;
}


.footer-address {    
    color: #fff;
    padding: 10px;
}

.footer-address a {    
    color: #fff;
}
.footer-address .info-address-end  {
    padding-top: 30px;
    padding-bottom: 10px;
}